# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Large generated artifacts
*.pth
*.pt
